{% extends 'layout.njk' %}

{% block head %}
    <title>{{curso.title}}</title>
{% endblock  %}

{% block content %}

    <h1 class="tituloConteudos">{{curso.title}}</h1>

    <section class="curso-page">
        <p>{{curso.description}}</p>
        <iframe src="https://rocketseat.com.br/{{curso.title}}" frameborder="0"></iframe>  
       
    </section>

{% endblock  %}

